<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Rese침as</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <%- include('../shared/header') %>
  </header>
  <div class="container mt-4">
    <h1>Lista de Rese침as</h1>
    <a href="/api/resena/crearResena" class="btn btn-primary mb-3">Crear Rese침a</a>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Paquete</th>
          <th>Paquete</th>
          <th>Mensaje</th>
          <th>Valoraci칩n</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% resenas.forEach(resena => { %>
          <tr>
            <td><%= resena.usuarioNombre %></td>
            <td><%= resena.paqueteNombre %></td>
            <td><%= resena.mensaje %></td>
            <td><%= resena.valoracion %></td>
            <td>
              <form action="/api/resena/eliminar/<%= resena._id %>" method="POST">
                <button type="submit" class="btn btn-danger">Eliminar</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
